:root {
  --primary-blue: hsl(238, 29%, 16%);
  --primary-red: hsl(14, 88%, 65%);
  --dark-font: hsl(237, 12%, 33%);
  --light-font: hsl(240, 6%, 50%);
  --dividers: hsl(240, 5%, 91%);
}

html {
  font-size: .875rem;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: rgb(175,103,233);
  background: linear-gradient(180deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 100%) no-repeat;
}

img {
  display: block;
  max-width: 100%;
}

.illustration {
  width: 65%;
  position: relative;
  top: -100px;
  margin: 0 auto;
}

.main-image {
  max-width: 240px;
  margin: 0 auto;
}

.main-image-desktop {
  display: none;
}

.image-bg {
  position: absolute; 
  bottom: -30px; 
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.image-bg-desktop {
  display: none;
}

.faq {
  background: #fff;
  margin: 10rem 1.5rem 0;
  border-radius: 24px;
  box-shadow: 6px 10px 20px rgba(0, 0, 0, .15);
}

.content {
  position: relative;
  top: -3rem;
  margin: 0 1rem 0;
}

.content h1 {
  font-size: 2rem;
  text-align: center;
}

.questions {
  margin-top: 1.5rem;
}

.questions dt {
  padding: 1.2rem 0 1rem;
  color: var(--dark-font);
  transition: .3s;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions dt:hover {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}

.questions dt:not(:first-child) {
  border-top: 1px solid var(--dividers);
}

.questions dt::after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 7px;
  background: url(../images/icon-arrow-down.svg) no-repeat;
  min-width: 10px;
  transition: .3s;
}

.questions dd {
  color: var(--light-font);
  font-size: .9rem;
  padding: 0 1rem 1rem;
  max-width: 95%;
  line-height: 1.5;
  display: none;
}

.questions dt.active {
  font-weight: 700;
}

.questions dt.active::after {
  transform: rotate(-180deg);
}

.questions dd.active {
  display: block;
  animation: showInfo .3s ease forwards;
}

@keyframes showInfo {
  from {
    transform: translateY(-1rem);
    opacity: 0;
    max-height: 0px;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .faq {
    flex: 1;
    display: flex;
    position: relative;
    margin: 0 4rem;
    overflow-y: hidden;
    overflow-x: visible;
    max-width: 1100px;
    max-height: 60vh;
  }

  .illustration {
    background-image: url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain, 200%;
    background-position: -6rem center , -39rem -20rem;
    background-clip: content-box;
    position: static;
    flex: 1 2;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .main-image-desktop {
    display: block;
    position: absolute;
    top: 40%;
    left: -80px;
  }

  .main-image,
  .image-bg {
    display: none;
  }

  .content {
    flex: 1 1;
    position: static;
    overflow-y: auto;
    margin-right: 0;
    margin-left: 0;
    padding: 5rem 5rem 5rem 0;
    scrollbar-gutter: stable;
  }

  .content h1 {
    text-align: left;
    margin: 0 1rem;
  }

  .content::-webkit-scrollbar {
    width: 12px;
  }

  .content::-webkit-scrollbar-thumb {
    background-color: hsl(273, 75%, 66%);
    border-radius: 10px;
  }
}